body{
    margin: 0px;
    padding: 0px;
    background-color: #34495e;
    font-family:sans-serif ;
}
.box{
    width: 400px;
    margin:auto ;
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgb(3, 3, 3);
    text-align: center;
    border-radius: 10px;
    
}
.box h1{
    color: white;
    text-transform: uppercase;
}
.box input{
    width: 200px;
    display: block;
    margin:20px auto ;
    text-align: center;
    padding: 10px 30px ;
    border-radius: 24px;
    border: 2px solid #3498db;
    outline: none;
    transition: 0.25s;
    background: none;
    color: white;
}
.box input:focus{
    width: 230px;
}
.box button{
    background:none;
    width: 100px;
    border-radius: 24px;
    padding: 10px;
    margin-bottom:20px ;
    border: 2px solid #3498db;
    color: white;
}
.box button:hover{
    background-color: #3498db;
    transition: 0.25s;
    color: black;
    font-weight:100px;
    width: 120px;
}
i{
    width: 100px;
    color: rgb(253, 253, 253);
   
}
div .user{
    display: flex;
}